.login__layout {
    font-size: 3.5rem;
    position: fixed;
    top: 20rem;
    left: 4rem;
    color: #ddd;
    border-radius: 50%;
    padding: 0.6rem 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    box-shadow: 0rem 0rem 1rem #000;

    &:hover {
        color: #000;
        box-shadow: 0rem 0rem 1rem #fff;
        transition: 5s;
    }
}
