@mixin respond-lap-port {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin respond-tab-port {
    @media (max-width: 768px) {
        @content;
    }
}

.cart_container {
    // margin-top: 10rem;
    margin: 20rem 0;
    display: flex;
    justify-content: space-around;
    h2 {
        // margin-top: 10rem;
        text-align: center;
        display: block;
        font-size: 3rem;
        font-style: italic;
        font-weight: 300;
        color: #fff;
    }
}

.cart_box-pay {
    @include respond-lap-port() {
        position: fixed;
        width: 70%;
        height: auto;
    }
    @include respond-tab-port() {
        position: fixed;
        width: 70%;
        height: auto;
    }

    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    border-radius: 2rem;
    background: #ddd;
    box-shadow: 0.1rem 0.1rem 1rem rgb(22, 22, 22);
    width: 30%;
    height: auto;
    // position: fixed;

    h1,
    h3 {
        font-size: 2.5rem;
        color: #000;
        font-weight: 300;
        margin: 2rem 0;
        text-align: center;
    }

    .cart_pay-btn {
        display: block;
        // margin: 2.5rem auto;
        cursor: pointer;
        color: #000;
        border: 0.2rem solid rgba(50, 50, 50, 0.3);
        background: transparent;
        font-size: 1.5rem;
        padding: 1rem 3rem;
        border-radius: 1rem;

        &:hover {
            color: #fff;
            background: #000;
        }
    }
}

.cart_box-cover {
    @include respond-lap-port() {
        width: 70%;
        overflow: hidden;
        margin-top: 13rem;
    }
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    width: 80rem;
    box-shadow: 0.1rem 0.1rem 0.7rem #000;
    border-radius: 1rem;
    display: block;
}

.cart_box-item {
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_box-item-img {
    @include respond-tab-port() {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        margin: 4rem auto;
        p {
            margin: 1rem;
            text-align: center;
        }
        &:hover {
            border-radius: 1rem;
            padding: 3rem 0;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(0.1rem);
            -webkit-backdrop-filter: blur(0.1rem);
            box-shadow: 0.1rem 0.1rem 1rem #000;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    height: 20rem;

    img {
        display: block;
        position: relative;
        width: 10rem;
        height: 10rem;
        border-radius: 0.3rem;
        left: 0;
    }
    p {
        display: inline-block;
        font-size: 2rem;
        color: #fff;
        padding: 0 2rem;
    }

    button {
        display: block;
        cursor: pointer;
        color: #fff;
        border: 0.2rem solid rgba(255, 255, 255, 0.3);
        background: transparent;
        font-size: 1.5rem;
        padding: 1rem 3rem;

        &:hover {
            color: #000;
            background: #fff;
        }
    }
}
